html, body, #home {
    height: 100%;
    overflow-x: hidden; /* esconder a barra horizontal da pagina web*/
}

body {
    /* background: rgba(171, 197, 177, 0.8); */
    background-attachment: fixed;
    font-family: 'Roboto Slab',"Segoe UI","Helvetica Neue",Arial,"Noto Sans",serif;
    color: #7a7a7a;
}

p {
    font-size: 20px
}

.texto_importante {
    color: #00003C !important;
}

.imagem {
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* NAV */
nav.navbar-transparente {
    padding: 15px 0px;
    background: #f2f5f6
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #082ae931;
}

.navbar-light .navbar-toggler {
    color: rgba(255,255,255,0.5);
    border-color: rgba(255,255,255,0.1);
}

.divisor {
    width: 1px;
    background: black;
    margin: 12px 15px;
}

/* home */
#home {
    background: rgba(20, 122, 190, 0.993), linear-gradient(50deg, #ff4169, #7c26f8); 
    padding-top: 50px;
    margin: 50px;
}

.distancia {
    padding-top: 10px;
}

.distancia button {
    background: #00003C;
    border-color: #00003C
}

.texto_info_1 {
    margin: 25px;
    display: flex;
    justify-content: space-between;
}
.texto_info_1 p {
    font-size: 2rem !important;
    width: 100%;
    margin: 10px;
    text-align: center;
    border-style: solid;
    border-radius: 1px solid black;
}

/* RESULTADO SIMULACAO */
.resultado_simulacao {
    padding-top: 100px;
    display: none;
    text-align: center;
    margin-bottom: 100px;
}

/* home2 */
#home2 {
    background: rgba(20, 122, 190, 0.993), linear-gradient(50deg, #ff4169, #7c26f8);
    margin-bottom: 100px;
    margin: 50px;
}

form {
    max-width:400px;
}

.caixa {
    padding: 60px 0;
    border-bottom: 1px solid #e5e5e5;
}

/* RESULTADO FINAL */
.resultado_final {
    margin-top: 50px;
}

.resultado_info {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* SAFRINHA */
#safrinha {
    display: none;
}